html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transition: all 0.2s
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars,
#result .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  color: yellow;
}

.score-panel .stars li,
#result .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}


/*
 * End-game modal
 */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 113px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.content {
  margin: 0 auto;
  padding: 20px 20px 45px;
  width: 50%;
  min-width: 300px;
  text-align: center;
  border: 1px solid #888;
  background-color: #f5f5f5;
 }

 .content table {
  margin: 0 auto;
  min-width: 300px;
  width: 50%;
 }

.close {
  position: relative;
  top: -20px;
  float: right;
  color: #999;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

button.restart {
  position: relative;
  margin-top: 25px;
  height: 48px;
  width: 100px;
  border: 1px #dcdcdc;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 0 #fff inset;
  background-color: #fdfeff;
  background: linear-gradient(#ededed, #d7d7d7);
}

button.restart:hover {
  background: linear-gradient(#dfdfdf, #ededed);
  box-shadow: 0 1px 0 0 #fff;
}