html, body {
  margin: 0;
  padding: 0;
}

div {
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

form {
  text-align: center;
}

li {
  list-style: none;
  letter-spacing: 0.5em;
}

ul {
  padding: 0;
}