@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafbfc;
  font-family: "Ubuntu", "Gararmond";
}

.wrap {
  margin: 0 auto;
  min-width: 300px;
  max-width: 900px;
  display: grid;
  grid-auto-rows: 75px 1fr 75px;
}

header {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  text-align: right;
  background-color: #fff;
  box-shadow: 0 5px 10px -7px #000;
}

#cf-logo {
  width: 60px;
}

#titles > h1 {
  font-size: 1.3em;
}

h1,
h3 {
  font-weight: 400;
}

h1,
figcaption {
  color: #122759;
}

header,
span,
footer {
  color: #00b2d7;
}

main {
  margin: 25px auto;
  width: 100%;
}

#top-bg {
  width: 100%;
}

#work h1 {
  margin-left: 25px;
}

#projects {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.preview {
  margin: 10px auto;
}

figcaption {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px -5px 10px -7px #000;
}

@media screen and (max-width: 600px) {
  #projects {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}