@font-face {
    font-family: "Cyrodiil";
    src: url(../fonts/Cyrodiil.ttf) format("truetype");
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Cyrodiil';
    background: url('../img/swp.jpg') fixed;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

main {
    margin: 0 auto;
    grid-column: 2/9;
    width: fixed;
}

aside {
    margin: 0 auto;
    background-color: #0008;
    height: 100%;
    color: #EBEDEC;
    padding: 0 20px;
    grid-column: 1/2;
}


span {
    font-size: 30px;
}

input[type=range] {
    width: 100%;
}

input[type=submit], #clear {
    background-color: transparent;
    color: #EBEDEC;
    border: 2px solid #EBEDEC;
    width: 75px;
    height: 35px;
    margin-bottom: 10px;
}

input:focus, #clear {
    outline-width: 0;
}
input:hover, #clear {
    cursor: pointer;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 7px;
    height: 7px;
}

.audio {
    margin-top: 10vh;
}
audio {
    width: 200px;
}
