@font-face {
  font-family: "Morpheus";
  src: url(../font/morpheus.ttf);
}

* {
  padding: 0;
  margin: 0;
  cursor: url(../cursors/active.cur), default !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 100%;
  grid-template-areas: "side board";
  font-family: "Morpheus", "Gararmond";
}

/************
 * Game HUD *
 ************/

.side-panel {
  grid-area: side;
  padding: 0 20px;
  background: url(../img/board/side_panel.png) no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.side-panel h1 {
  font-size: 1.5em;
  text-align: center;
  color: #330d0d;
  text-shadow: 1px 1px 3px #fff;
}

.side-panel h2 {
  color: #aec188;
}

#shuffle, #start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #601818 0%,#601818 50%,#580606 50%,#580606 100%);
  color: #aec188;
  font-size: 25px;
  font-family: inherit;
  order: 1;
}

#start {
  margin: 0 auto;
  order: 0;
}

button:focus,
button:active {
  outline: none;
}

button:active {
  border: 2px inset #ddd;
  border-radius: 5px;
}

.panel-deck {
  display: block;
  text-align: center;
  margin: 20px auto;
  background: url(../img/board/deck_slot.png) no-repeat center top;
  background-size: 100% 100%;
  height: 75px;
  width: 140px;
  border: none;
}

.panel-deck span {
  display: none;
}

.deck-back {
  width: 67px;
  height: 135px;
  padding-left: 60px;
  transform: rotate(-90deg);
}

.gems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gems img {
  background: url(../img/board/gem.png);
  background-size: 100% 100%;
  margin: 20px auto;
  display: block;
  width: 40px;
  height: 40px;
}

.count {
  margin: 20px auto;
  background: url(../img/board/moves.png) no-repeat center;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  position: relative;
}

.count span {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  height: 100%;
}

.cog {
  position: fixed;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  color: #c19b6c;
  background: #0009;
  border: #c19d6c solid 2px;
  outline: #0009 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.material-icons {
  margin: 0 auto;
}


/******************
 * Board elements *
 ******************/

.board {
  grid-area: board;
  background: url(../img/board/board.png) no-repeat;
  background-size: 100% 100%;
}

.row {
  margin: 20px auto;
  background: url(../img/board/row.png) no-repeat center;
  background-size: 100% 100%;
  height: 170px;
  min-height: 15%;
  width: 80%;
  max-width: 680px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row img {
  margin: auto;
  display: block;
  height: 100%;
  width: auto;
  transition: all 0.5s;
}

.row img:hover,
.row img:focus,
.hold {
  transform: translate3d(0, -10px, 0);
  box-shadow: -1px 5px 5px rgba(255, 255, 0, 0.6);
  border-radius: 5px;
}

/**********
 * Modals *
 **********/

.faction,
.end,
.settings {
  display: flex;
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.end,
.settings {
  display: none;
}

.content {
  width: 100%;
  max-width: 450px;
  height: 50%;
  background: url(../img/modal/bg.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 50px;
  border-style: solid;
  border-width: 20px 20px 21px 22px;
  border-image: url(../img/modal/frame.png) 20 20 21 22 fill;
}

.content * {
  margin: 0 auto;
}

.end .content {
  display: block;
  text-align: center;
}

.end .content h1 {
  margin: 25px 0;
  text-shadow: 1px 1px 3px #fff;
}

.end img {
  background: none;
}

.off {
  position: relative;
  right: 20px;
  float: right;
  color: #333;
  font-size: 2em;
  font-weight: bold;

}

.off:hover,
.off:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#scores {
  width: 75%;
}

#scores thead {
  text-shadow: 1px 1px 3px #fff;
}

#scores th,
#scores td {
  width: 33%;
  font-size: 1.2em;
}

.settings .content {
  text-align: center;
  flex-direction: row;
  align-items: center;
  padding: 0 0 10px;
  font-family: "Gararmond";
  padding-bottom: 20px;
}

#user-settings {
  width: 100%;
  display: block;
  height: calc(100% - 48px);
}

.settings h1 {
  margin: 10px 0;
  font-size: 1.8em;
}

.settings .radio-group {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.radio-group label {
  height: 48px;
  display: flex;
  align-items: center;
}

#slide {
  height: 48px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border: 2px solid #000;
}

.arrow {
  display: block;
  margin: 0;
  width: 45px;
  height: auto;
  order: 2;
}

#controls {
  display: none;
  height: calc(100% - 48px);
  align-items: center;
}

#controls table {
  width: 420px;
}

/*********************
 * Custom select box *
 *********************/

 #arrow-icon {
  transform: rotateX(180deg);
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  right: -5px;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
 }

.dropdown {
  width: 100%;
  background-color: transparent;
  position: relative;
  font-size: 14px;
  color: #a4f188;
  display: block;
}

.dropdown .select {
  height: 50px;
  width: 80%;
  background: url(../img/modal/fac_caption.png);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.dropdown .dropdown-menu {
  position: absolute;
  margin: 5px auto 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 80%;
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #333;
  box-shadow: 0 1px 2px #a4f188;
  border-radius: 0 1px 5px 5px;
  font-size: 1.3em;
  list-style: none;
  transition: all 0.5s ease;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  text-shadow: 2px 2px 2px #000;
  transition: all 0.5s ease-in-out;
}

.dropdown .dropdown-menu li:hover {
  background-color: #222;
}

.faction-menu {
  width: 100%;
}

.close {
  display: none;
}

.open {
  display: block;
}

#preview {
  width: 100%;
}

#preview img {
  width: 110px;
  height: 200px;
  display: block;
}

@media screen and (max-width: 760px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "board"
      "side";
  }

  .content {
    position: absolute;
    top: 80px;
    width: 75%;
    height: 50%;
  }

/*
 * Hacky fix to make the board background overlap the side panel on smartphone.
 * https://i.imgur.com/OOr5hyc.png
 * Seems to require % values to fit on all type of device and avoid a blanc space at the bottom.
 * A fixed value under 100% will create a blanc space at the bottom of the iPhone X.
 * Couldn't find any solution to visually "nest" the content of a div into another one.
 */
  .board {
    padding-top: 70px;
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

  .side-panel {
    padding: 0;
    order: 2;
    background: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .side-panel h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
  }

  .shuffle-btn {
    order: 2;
  }

  #shuffle {
    font-size: 1.3em;
    margin: 0;
  }

  .factions {
    order: 4;
  }

  .panel-deck {
    margin: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #601818 0%,#601818 50%,#580606 50%,#580606 100%);
    color: #aec188;
    font-size: 1.3em;
    font-family: inherit;
    width: 100px;
    height: 50px;
    border: 2px outset #ddd;
    border-radius: 5px;
  }

  .panel-deck span {
    display: block;
  }

  .side-panel h2,
  .factions img {
    display: none;
  }

  .lives {
    width: 100%;
    order: 1;
    margin: 10px 0;
  }

  .gems {
    margin: 0 auto;
    width: 66%;
    max-width: 450px;
  }

  .gems img {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .content .gems img {
    width: 35px;
    height: 35px;
  }

  .moves {
    order: 3;
  }

  .count {
    margin: 0;
  }

  .count p {
    left: 21px;
    top: 2px;
  }

  .row {
    height: 105px;
    min-width: 300px;
    max-width: 500px;
    margin: 10px auto;
  }

  #preview img {
    height: 175px;
    width: 95px;
  }

}

@media screen and (max-width: 450px) {
  .row {
    height: 80px;
  }

  #user-settings {
    display: flex;
    flex-wrap: wrap;
  }

  #user-settings h1 {
    font-size: 1em;
    width: 33%;
  }

  .radio-group {
    margin: 0;
    width: 60%;
  }

  .radio-group label {
    font-size: 0.8em;
    width: 30%;
  }
}

@media screen and (max-width: 400px) {

  #scores {
    display: flex;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  #scores th, #scores td {
    display: table-row;
  }

  #scores th {
    text-align: left;
  }

  #scores td {
    text-align: right;
  }
}

@media screen and (max-height: 650px) {

  #user-settings {
    margin: 0;
  }

  #preview img {
    transform: rotate(90deg);
  }

  #arrow {
    width: 35px;
  }

  .faction {
    box-sizing: border-box;
  }
}

@media screen and (max-height: 420px) {
  .settings .content {
    box-sizing: border-box;
  }
}


/*
 * Landscape mode
 */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: visible;
    position: fixed;
    top: 100%;
  }

  .rows {
    transform: rotate(90deg);
  }

  .row {
    height: 70px;
  }

  .moves {
    order: 2;
    transform: rotate(90deg);
  }

  .factions {
    order: 1;
  }

  .lives {
    position: absolute;
    top: 0;
    width: 160px;
  }

  .shuffle-btn {
    order: 3;
    height: 50px;
    width: 100px;
    font-size: 0.9em;
  }

  #shuffle {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .gems {
    width: 100%;
  }

  .side-panel h1 {
    display: none;
  }

  .settings,
  .faction,
  .end {
    position: absolute;
    height: 100vw;
  }

  #controls,
  #slide {
    display: none;
  }

  #user-settings {
    transform: rotate(90deg);
    display: flex;
    flex-wrap: wrap;
  }

  #user-settings h1 {
    font-size: 1em;
    width: 33%;
  }

  .radio-group {
    margin: 0;
    width: 60%;
  }

  .radio-group label {
    font-size: 0.8em;
    width: 30%;
  }

  .end .content {
    transform: rotate(90deg);
  }

  .faction-menu {
    width: 250px;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 1024px) {
  #controls,
  #slide {
    display: none;
  }
}