@font-face {
  font-family: "Morpheus";
  src: url(../font/morpheus.ttf);
}

* {
  padding: 0;
  margin: 0;
  cursor: url(../cursors/active.cur), default !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 100%;
  grid-template-areas: "side board";
  font-family: "Morpheus";
}

.side-panel {
  grid-area: side;
  padding: 0 20px;
  background: url(../img/board/side_panel.png) no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.side-panel h1 {
  font-size: 1.5em;
  text-align: center;
  color: #330d0d;
  text-shadow: 1px 1px 3px #fff;
}

.side-panel h2 {
  color: #aec188;
}

#shuffle, #start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #601818 0%,#601818 50%,#580606 50%,#580606 100%);
  color: #aec188;
  font-size: 25px;
  font-family: inherit;
  order: 1;
}

#start {
  margin: 0 auto;
  order: 0;
}

button:focus,
button:active {
  outline: none;
}

button:active {
  border: 2px inset #ddd;
  border-radius: 5px;
}

.panel-deck {
  display: block;
  text-align: center;
  margin: 20px auto;
  background: url(../img/board/deck_slot.png) no-repeat center top;
  background-size: 100% 100%;
  height: 75px;
  width: 140px;
  border: none;
}

.panel-deck span {
  display: none;
}

.deck-back {
  width: 67px;
  height: 135px;
  padding-left: 60px;
  transform: rotate(-90deg);
}

.gems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gems img {
  margin: 20px auto;
  display: block;
  width: 40px;
  height: 40px;
}

.board {
  grid-area: board;
  background: url(../img/board/board.png) no-repeat;
  background-size: 100% 100%;
}

.row {
  margin: 20px auto;
  background: url(../img/board/row.png) no-repeat center;
  background-size: 100% 100%;
  height: 170px;
  min-height: 15%;
  width: 80%;
  max-width: 680px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row img {
  margin: auto;
  display: block;
  height: 100%;
  width: auto;
}

.count {
  margin: 20px auto;
  background: url('../img/board/moves.png') no-repeat center;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  position: relative;
}

.count span {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  height: 100%;
}

.faction,
.end {
  display: flex;
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.end {
  display: none;
}

.content {
  width: 100%;
  max-width: 450px;
  height: 50%;
  background: url(../img/modal/bg.png);
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 50px;
}

.content * {
  margin: 0 auto;
}

.end .content {
  display: block;
  text-align: center;
}

.end .content h1 {
  padding-top: 25px;
}

.off {
  position: relative;
  right: 20px;
  float: right;
  color: #333;
  font-size: 2em;
  font-weight: bold;

}

.off:hover,
.off:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #a4f188;
  display: block;
}
.dropdown .select {
  display: block;
  height: 50px;
  width: 80%;
  background: url('../img/modal/fac_caption.png');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #333;
  width: 80%;
  left: 0;
  right: 0;
  margin: 1px auto 0;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  overflow: hidden;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
  transition: all 0.5s;
  font-size: 1.2em;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #222;
}

.close {
  display: none;
  transition: all 0.5s ease-in-out;
}

.open {
  display: block;
  transition: all 0.5s ease-in-out;
}

#preview {
  width: 100%;
}

#preview img {
  width: 110px;
  height: 200px;
  display: block;
}

@media screen and (max-width: 760px){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "board"
      "side";
  }

  .content {
    width: 75%;
    height: 50%;
  }

  .board {
    padding-top: 70px;
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

  .side-panel {
    padding: 0;
    order: 2;
    background: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .side-panel h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
  }

  .shuffle-btn {
    order: 2;
  }

  #shuffle {
    font-size: 1.3em;
    margin: 0;
  }

  .factions {
    order: 4;
  }

  .panel-deck {
    margin: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #601818 0%,#601818 50%,#580606 50%,#580606 100%);
    color: #aec188;
    font-size: 1.3em;
    font-family: inherit;
    width: 100px;
    height: 50px;
    border: 2px outset #ddd;
    border-radius: 5px;
  }

  .panel-deck span {
    display: block;
  }

  .side-panel h2,
  .factions img {
    display: none;
  }

  .lives {
    width: 100%;
    order: 1;
    margin: 10px 0;
  }

  .gems {
    margin: 0 auto;
    width: 66%;
    max-width: 450px;
  }

  .gems img {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .moves {
    order: 3;
  }

  .count {
    margin: 0;
  }

  .count p {
    left: 21px;
    top: 2px;
  }

  .row {
    height: 105px;
    min-width: 300px;
    max-width: 500px;
    margin: 10px auto;
  }

}

@media screen and (max-width: 450px) {
  .row {
    height: 80px;
  }
}