@font-face {
    font-family: 'Cyrodiil';
    src: url(../fonts/Cyrodiil.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
	font-family: Cyrodiil;
}

main {
	padding: 25px 0;
	width: 500px;
	height: 840px;
	border: 1px solid black;
	background: url(../img/scroll.jpg);
	text-align: center;
	text-shadow: 1px 1px 1px #ffff;
}

h1 {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 90%;
  border: 7px solid transparent;
  border-image: url("../img/border2.png") 25;
	font-size: 48px;
}

img {
	width: 300px;
	height: 300px;
}

section {
	margin: 20px auto;
	padding: 15px 0;
	width: 450px;
  border: 7px solid transparent;
  border-image: url("../img/border2.png") 25;
	font-size: 20px;
	line-height: initial;
}

em {
	font-size: 18px;
}

ul {
	padding: 20px 30px;
	list-style: none;
	text-align: left;
}