@font-face {
    font-family: 'Cyrodiil';
    src: url(../fonts/Cyrodiil.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
	font-family: Cyrodiil;
}

body {
	background: url('../img/scroll1.jpg');
}

main {
	margin: 0 auto;
	padding: 25px;
	width: 475px;
	border: 1px solid black;
	background: url("../img/scroll.jpg");
	text-align: center;
	text-shadow: 1px 1px 1px #fffc;
	line-height: 1.375;
}

h1 {
	margin: 0 auto;
  border: 7px solid transparent;
  border-image: url("../img/border2.png") 25;
	font-size: 48px;
}

img {
	width: 300px;
	height: 300px;
  margin: 25px 0;
}

section {
	margin: 0 auto;
	padding: 15px 20px;
  border: 7px solid transparent;
  border-image: url("../img/border2.png") 25;
	font-size: 22px;
}

ul {
	padding: 20px 15px;
	list-style: none;
	text-align: left;
}