@font-face {
    font-family: 'Cyrodiil';
    src: url(../fonts/Cyrodiil.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
	font-family: Cyrodiil;
}

main {
	width: 500px;
	height: 905px;
	border: 1px solid black;
	background: url(../img/scroll.jpg);
	text-align: center;
	text-shadow: 1px 1px 1px #fff9;
}

h1 {
	margin: 25px auto;
	font-size: 48px;
  border: 7px solid transparent;
  border-image: url("../img/border.png") 20;
	width: 90%;
}

img {
	width: 300px;
	height: 300px;
}

section {
	margin: 20px auto;
	padding: 15px 0;
  border: 7px solid transparent;
  border-image: url("../img/border.png") 20;
	width: 450px;
	font-size: 22px;
}

#it {
	font-size: 20px;
	font-style: italic;
}

ul {
	padding: 15px 30px;
	list-style: none;
	text-align: left;
}

span {
	font-weight: bold;
}

hr {
	margin: auto;
	width: 40%;
	border-color: #49192177;
}