body, html {
	padding: 0;
	margin: 0;
}

canvas {
	display: block;
	margin: 5px auto;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background-color: #0005;
	position: absolute;
	width: 100%;
	height: 100%;
}

.content {
	display: block;
	height: 500px;
	width: 500px;
	background: #fdfdfd;
	padding: 10px;
}

.attachments,
.items {
	display: flex;
	list-style: none;
	width: 300px;
	padding: 0;
	margin: 0 auto;
	justify-content: space-around;
}

.attachments li {
	width: 75px;
	height: 75px;
	border: black 2px solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attachments span {
	width: 32px;
	height: 32px;
	display: block;
}

.items {
	width: 500px;
}

.items .chest,
.items .key,
.items .map {
	width: 32px;
	height: 32px;
	display: block;
}

.items span {
	opacity: 0.5;
}

.items .gem {
	width: 32px;
	height: 32px;
	display: flex;
}

.items .gem span {
	display: block;
}

.diamonds {
	background-image: url(../resources/sprites.png);
	background-position: left 128px top 0px;
}

.rubies {
	background-image: url(../resources/sprites.png);
	background-position: right 192px top 0px;
}

.sapphires {
	background-image: url(../resources/sprites.png);
	background-position: right 224px top 0px;
}

.topaz {
	background-image: url(../resources/sprites.png);
	background-position: right 256px top 0px;
}

.chest {
	background-image: url(../resources/sprites.png);
	background-position: left 0px top 0px;
}

.map {
	background-image: url(../resources/sprites.png);
	background-position: right 96px top 0px;
}

.key {
	background-image: url(../resources/sprites.png);
	background-position: right 128px top 0px;
}

.end {
	display: none;
}

.end h1 {
	text-align: center;
}

.off {
  position: relative;
  right: 20px;
  float: right;
  color: #333;
  font-size: 2em;
  font-weight: bold;

}

.off:hover,
.off:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}